

td { color: white; font-size: large; padding: 10px ; }
th { font-size: medium }

.dBlue { color: dodgerblue; font-size: large; }

.hGreen { color: lawngreen; font-size: large; }

.pGoldenrod { color: goldenrod; font-size: large;  }

.sAqua { color: aqua; font-size: large; }

.pWhite { color: white; font-size:large;}