
.welcomeTitle { margin: auto; color: burlywood; font-family: Arial} 
.wcenter {margin-left:370px; margin: auto; color: burlywood; font-family: Arial}

.welcomeText  { color: dodgerblue; }
.welcomeText2 { color: white; }
.welcomePlan { color: gold}

body { background-color: black }
 
h3 { color: white }

.nav { color: white; }

.normalText { color: white; font-family: Arial, Helvetica, sans-serif; font-size: medium }
 
h5 { color: gold }

.outline { border-color: gold; border-width: 2px }

.claimDetail { color: white; }
.claimHeader  { color: white; }
.claimCustHeaderBlue { color: aqua; float: left;}
.claimCustHeaderWhite { color: white; float: left;}
.claimSubHeader { font-size: medium; color: lawngreen;}

.first { color: white; }

.error { color: lawngreen; }

.whiteParaText { color: white; }

/* react does not recognize 'burleywood' as color in local variable !!. */

.bw { color: burlywood;}

.bwlgout { color: burlywood; font-size:larger; margin-left: 400px; } 
.bwlgin { color: burlywood; font-size:larger; margin-left: 350px; } 
.bwlginleft { color: burlywood; font-size:larger; margin-left: 300px; }

/* nav link classes */

.linksel {

    font-size: larger;
    color: burlywood;
}

.link {

    font-size: larger;
    color: white;
}
 
 
 /* when using style vars did not work */
 .bw { color: burlywood; }

 .burleywood { color: burlywood; }


 li { color: white; }

 .msgsignin  { 

    font-family: "Arial";
    font-size: "larger";
    color: burlywood;
}

.burleywood { color: burlywood }

.menumessage { color: burlywood; font-size: larger; font-family: Arial}
             

 